name: CD

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binext: ""
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binext: .exe
          - os_name: MacOS-arm64
            os: macos-latest
            target: aarch64-apple-darwin
            binext: ""

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Install needed packages on Linux
        run: sudo apt-get update --yes && sudo apt-get install --yes libssl-dev libdbus-1-dev libx11-xcb1 libxkbcommon-x11-dev pkg-config
        if: contains(matrix.platform.os, 'ubuntu')

      - name: Install mold linker
        uses: rui314/setup-mold@v1

      - name: Run build command
        run: cargo build --release --target ${{ matrix.platform.target }}

      - name: Strip debug information
        run: strip target/${{ matrix.platform.target }}/release/pandora_launcher${{ matrix.platform.binext }}

      - name: Rename Output
        shell: pwsh
        run: Move-Item -Path 'target/${{ matrix.platform.target }}/release/pandora_launcher${{ matrix.platform.binext }}' -Destination 'PandoraLauncher-${{ matrix.platform.os_name }}${{ matrix.platform.binext }}'

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: PandoraLauncher-${{ matrix.platform.os_name }}${{ matrix.platform.binext }}
          path: PandoraLauncher-${{ matrix.platform.os_name }}${{ matrix.platform.binext }}
  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: ./artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
